body{
    background-color: #2F4F4F !important;
}

.start{
    margin: 25% 25% 25% 25%;
    font-size: 48px !important;
}

.jumbotron{
    margin: 5% 20% 5% 20%;
}

.txtcenter{
    text-align: center;
}

.quiz{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
}

.question{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    color: #00FFFF;
}

.qImg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.choice{
    margin-top: 15px;
}

.timer{
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.scoreContainer{
    color: #00FFFF;
}




